#card-animals{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: var(--p-20);
    margin-bottom: 30px;
}
#card-animals .card-conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    border-radius: 0 0 18px 18px;
    padding: 20px;
    transition:  0.3s ease;
}
#card-animals .card{
    width: 350px;
}
/* IDADE DO ANIMAL */
#card-animals .card-conteudo .idade-animal{
    grid-column:2;
    justify-self: end;
    grid-row: 1;
}
/* PARÁGRAFO DE DESCRIÇÃO DO ANIMAL */
#card-animals .card-conteudo p{
    grid-column: span 2
}
/* BOTÃO DE ADOÇÃO */
#card-animals .card-conteudo .btn-adotar-animal{
    grid-column: span 3;
    padding: 10px 20px;
    border: none;
    background-color: #27a4ec;
    font-size: var(--fs);
    color: var(--cor-fundo);
    border-radius: 18px;
    text-align: center;
}
/* HOVER: QUANDO O USUÁRIO PASSA O MOUSE POR CIMA DO CARD */
#card-animals .card:hover{
    transform: scaleY(1.02);
}
#card-animals .card-conteudo .btn-adotar-animal:hover{
    background-color: #1e81b0;
}
/* Responsive Design */
@media (max-width: 768px) {
    #card-animals {
        grid-template-columns: 1fr;
        justify-items: center;
        margin: 0;
    }
}
@media (min-width: 769px) and (max-width: 1200px) {
    #card-animals{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1200px) and (max-width: 1500px) {
    #card-animals{
        grid-template-columns: repeat(3, 1fr);
    }
}
